# Frontend
node_modules/
.env
.env.local
.env.production
.env.development
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Backend Laravel
backend/vendor/
backend/node_modules/
backend/storage/*.key
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/bootstrap/cache/*.php
backend/.env

# OS / Editor
.vscode/
.idea/
.DS_Store
Thumbs.db
